<div class="jumbotron">
  <form [formGroup]="roomCreationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Room Name</label>
      <input
        type="text"
        formControlName="roomName"
        class="form-control"
        placeholder="Room Name"
        [ngClass]="{
          'is-invalid': submitted && f.roomName.errors
        }"
      />
      <div *ngIf="submitted && f.roomName.errors" class="invalid-feedback">
        <div *ngIf="f.roomName.errors.required">A room name is required!</div>
      </div>
    </div>
    <div class="form-group">
      <label>Room Description</label>
      <input
        type="text"
        formControlName="roomDescription"
        class="form-control"
        placeholder="Room Description"
        [ngClass]="{
          'is-invalid': submitted && f.roomDescription.errors
        }"
      />
      <div *ngIf="submitted && f.roomDescription.errors" class="invalid-feedback">
        <div *ngIf="f.roomDescription.errors.required">A room description is required!</div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
