<div class="jumbotron">
  <h1 class="display-4">Join a Room</h1>
  <!-- <p class="lead">
    Join an existing Room and participate in your refinement.
  </p>

  <hr class="my-4">
  <ng-template #rt let-room="result" let-t="term">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-muted">
          {{room.name}}
          <span class="badge badge-secondary">10</span>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
          {{room.owner}}
        </h6>
        <p class="card-text text-muted">
          Open Since {{room.creationDate}}
        </p>
      </div>
    </div>
  </ng-template>
  <label for="typeahead-template">Search for an existing room:</label>
  <div class="input-group mb-3">
    <input id="typeahead-template" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search"
      [resultTemplate]="rt" [inputFormatter]="formatter" aria-describedby="joinButton" />
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="joinButton">Button</button>
    </div>
  </div>
  
  <hr class="my-4">
  <div class="container">
    <div class="card-columns">
      <div class="card" *ngFor="let room of roomList">
        <div class="card-body">
          <h5 class="card-title">
            {{room.name}}
            <span class="badge badge-secondary">10</span>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">
            {{room.owner}}
          </h6>
          <p class="card-text">
            Open Since {{room.creationDate}}
          </p>
          <span *ngIf="room.stayPrivate" class="badge badge-primary">Stay Private</span>
          <span *ngIf="room.voteChange" class="badge badge-secondary">Allow Vote Change</span>
          <span *ngIf="room.revealVotes" class="badge badge-success">Votes are always revealed</span>
        </div>
      </div>
    </div>
  </div> -->
</div>
