<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" routerLink="/">
    <img
      src="/assets/icons/icon-72x72.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    The Button Sock
  </a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/create">Create</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/join">Join</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </form>
  </div>
</nav>

<main [@routeAnimations]="prepareRoute(outlet)" class="content">
  <router-outlet #outlet="outlet"></router-outlet>
</main>

<cookie-law></cookie-law>
