<div class="jumbotron">
  <h1 class="display-4">Welcome to the Button Sock</h1>
  <p class="lead">This is a simple webpage click a button and show your dedication to the Button.</p>
  <hr class="my-4">
  <p>Push your Button to the Top of the Board</p>
  <ul class="list-group">
    <div class="card">
      <h5 class="card-header">Create a Room</h5>
      <div class="card-body">
        <h5 class="card-title">Create a room for your button.</h5>
        <p class="card-text">Simply follow the instructions and we will take care of the rest.</p>
        <a routerLink="/create" class="btn btn-primary">Create a Room</a>
      </div>
    </div>
  </ul>
  <br>
  <ul class="list-group">
    <div class="card">
      <h5 class="card-header">Join a Room</h5>
      <div class="card-body">
        <h5 class="card-title">Join an existing Room and participate in the button following.</h5>
        <p class="card-text">Do you now the name or the id of your room? Simply try looking for it.</p>
        <a routerLink="/join" class="btn btn-primary">Join a Room</a>
      </div>
    </div>
  </ul>
</div>
